body { margin:0px; padding:0px; font-family:"montserrat", serif !important; }
a { text-decoration: none !important; outline:none !important; color:rgba(0,0,0,0.5) !important;}
a:hover { color:rgba(0,0,0,0.7) !important; }

/* Utilities */
.navbar-offset { padding-top: 60px; }
.md-card { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);background:white; } 
.grad-blue-skies {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Bootstrap modifiers */
.form-control { margin: 5px 0px; }
.form-control::placeholder { letter-spacing:0px; color:rgba(0,0,0,0.1);font-size:12px;}
.col-lowpad {padding:3px !important;} 

.ticket:after {
    background: linear-gradient(-45deg, #ffffff 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
}

/* Animation classes */
.animate-fullscreen-enter {
  opacity: 0.01;
  width: 0px;
}

.animate-fullscreen-enter.animate-fullscreen-enter-active {
  opacity: 1;
  width: 100%;
  transition: 300ms;
}

.animate-fullscreen-leave {
  opacity: 1;
  width: 100%;
}

.animate-fullscreen-leave.animate-fullscreen-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 300ms;
}

.separator {
  width:30px;
  height:2px; 
  background:#6588A9;
  margin: 20px 0px
}

.separator.white {
    background:rgba(255,255,255,0.1);
}
.separator.light-grey {
  background:rgba(0,0,0,0.1);
}